<button
	id="back-to-top"
	class="fixed bottom-8 right-8 bg-blue-600 text-white p-3 rounded-full shadow-lg hover:bg-blue-700 transition-colors duration-300 hidden focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-offset-2"
	aria-label="Back to top">
	<svg
		class="w-6 h-6"
		fill="none"
		stroke="currentColor"
		viewBox="0 0 24 24"
		xmlns="http://www.w3.org/2000/svg">
		<path
			stroke-linecap="round"
			stroke-linejoin="round"
			stroke-width="2"
			d="M5 10l7-7m0 0l7 7m-7-7v18"></path>
	</svg>
</button>

<footer class="bg-gray-900 text-gray-400 py-10 text-center text-sm">
	<div class="container mx-auto px-4 sm:px-6 lg:px-8">
		<a
			href="https://venmo.com/u/PixelDynasty"
			target="_blank"
			rel="noopener noreferrer"
			class="venmo-button"
			>Support My Work on Venmo</a
		>
		<br />
		<a
			href="https://venmo.com/?txn=pay&audience=public&recipients=PixelDynasty&note=A%20tip%20for%20your%20awesome%20work!"
			target="_blank"
			rel="noopener noreferrer">
			Send a Quick Tip!
		</a>
		<p class="mb-3">
			&copy; <span id="currentYear"></span> Pixel Dynasty Development. All
			rights reserved.
		</p>
		<p class="mt-2">Designed and Built with ❤️ by Pixel Dynasty Development</p>
	</div>
</footer>
